<section class="navigation-bar">
  <button type="button" name="next" {{action "next"}}>Next</button>
  <button type="button" name="add" {{action "add"}}>Add</button>
</section>
<div class="schedule-track-container">
  {{schedule-track position=1 color="green"}}
  {{schedule-track position=2 color="red"}}
</div>
{{outlet}}
